.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100;

    input {
        border-width: 4px;
    }

    .btn-buscar{
        display: flex;
        flex-direction: column-reverse;

        button{
            height: 40px;
        }
    }
    .table-infor{
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        font-size: 18px;
        .row{
            margin: 0;
            padding: 10px 0px;
            border-radius: 15px;
            border: 3px solid;
            .col-md-6{
                padding: 5px 12px;
                font-weight: bold;
            }
        }
        .label{
            font-size: 20px;
        }
    }

    .table{
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        .row{
            margin: 0;
            padding: 10px 0px;
            border-radius: 15px;
            border: 3px solid;
        }
        a{
            text-decoration: underline;
            cursor: pointer;
            font-weight: bold; 
        }
        a:hover{
            border-radius: 15px;
            border: 2px solid;
        }

        .header{
            border-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
            border: 2px solid;
            border-radius: 0;
            border-width: 0 0 2px 0; /* top right bottom left */
            font-size: 18px;
            font-weight: bold;
        }
        .line:nth-child(even) {
            border-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
            a:hover{
                border-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
            }
        }
        .line:nth-child(odd) {
            color: #fff !important;
            background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
            * {   
                background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
            }
            a:hover{
                border-color: #fff !important;
            }
        }
    }


}