<app-navbar></app-navbar>

<div class="container">
    <div class="row titutlo">
        <div class="col-md-8 p0">
            <h3>Cadastrar Novo Docente</h3>
        </div>
        <div class="col-md-4 p0 buttons">
                <button class="btn btn-success">Editar</button>
                <button class="btn btn-danger">Excluir</button>
        </div>
    </div>
    <br>
    <form>
        <div class="row">
            <div class="col-md-8">
                <label for="inputNomeCompleto" class="form-label">Nome completo</label>
                <input class="form-control" id="inputNomeCompleto">
            </div>
            <div class="col-md-4">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input class="form-control" id="inputTelefone">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="inputGenero" class="form-label">Genero</label>
                <input class="form-control" id="inputGenero">
            </div>
            <div class="col-md-6">
                <label for="inputEstadoCivil" class="form-label">Estado Civil</label>
                <input class="form-control" id="inputEstadoCivil">
            </div>
            <div class="col-md-3">
                <label for="inputDataNascimento" class="form-label">Data Nascimento</label>
                <input class="form-control" id="inputDataNascimento">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">E-mail</label>
                <input class="form-control" id="inputEmail">
            </div>
            <div class="col-md-3">
                <label for="inputSenha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="inputSenha">
            </div>
            <div class="col-md-3">
                <label for="inputConfirmarSenha" class="form-label">Confirmar Senha</label>
                <input type="password" class="form-control" id="inputConfirmarSenha">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="inputCpf" class="form-label">CPF</label>
                <input class="form-control" id="inputCpf">
            </div>
            <div class="col-md-4">
                <label for="inputRg" class="form-label">RG</label>
                <input class="form-control" id="inputRg">
            </div>
            <div class="col-md-4">
                <label for="inputNaturalidade" class="form-label">Naturalidade</label>
                <input class="form-control" id="inputNaturalidade">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="textareaMaterias" class="form-label">Materias</label>
                <textarea class="form-control" id="textareaMaterias" rows="3"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="inputCep" class="form-label">CEP</label>
                <input class="form-control" id="inputCep">
            </div>
            <div class="col-md-4">
                <label for="inputRua" class="form-label">Rua</label>
                <input class="form-control" id="inputRua">
            </div>
            <div class="col-md-4">
                <label for="inputNumero" class="form-label">Número</label>
                <input class="form-control" id="inputNumero">
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input class="form-control" id="inputCidade">
            </div>
            <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <input class="form-control" id="inputEstado">
            </div>
            <div class="col-md-4">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <input class="form-control" id="inputComplemento">
            </div>
        </div>
        <div class="row">
            <div class="col-2 align-self-end">
                <button class="btn btn-dark">Salvar</button>
            </div>
        </div>
    </form>
</div>