.container {
    display: flex;
    flex-direction: column;

    .titutlo {
        border-bottom: 1px solid;
        margin-left: 0px;
        margin-right: 5px;
        padding-bottom: 5px;
        .p0{
            padding: 0;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 30px;

            button {
                min-width: 150px;
            }
        }
    }
    .hasError{
        border-color: #a94442;
        color: red;
        padding-right: calc(1.5em + .75rem);
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
        label{
            color: #a94442 !important;
        }
        input {
            border-width: 2px;
            border-color: #a94442;

        }
        input:focus {
            outline: 0;
            -webkit-box-shadow: 0 0 5px #a94442;
            box-shadow: 0 0 5px #a94442;
            
        }
        p{
            margin-top: 4px;
            color: #a94442;
        }
    }

    form {
        .row {
            margin-bottom: 15px;
        }

        label {
            font-weight: bolder;
        }
        input {
            border-width: 4px;

        }
        textarea{
            border-width: 4px;
        }

        
        
    }
        
      .error-message {
        margin-top: 4px;
        color: #a94442;
      }
    

    
      .has-error {
        border-color: #a94442;
      }
    
      .has-error:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 5px #a94442;
        box-shadow: 0 0 5px #a94442;
      }

}