<app-navbar></app-navbar>
<div class="container">
    <div class="row titutlo">
        <div class="col-md-8 p0">
            <h3>Cadastrar Nova Avaliação/Nota</h3>
        </div>
        <div class="col-md-4 p0 buttons">
            <button class="btn btn-success">Editar</button>
            <button class="btn btn-danger">Excluir</button>
            <button class="btn btn-info" (click)="voltar()">Voltar</button>
        </div>
    </div>
    <br>
    <form [formGroup]="notaForm">
        <div class="row">
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'professor',submitted)">
                <label for="inputProfessor" class="form-label">Professor</label>
                <ng-select required id="textareaProfessor" [items]="professores" bindLabel="nome" bindValue="id"
                    formControlName="professor">
                </ng-select>
                @if (validacao.inputHasError(notaForm,'professor',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'professor',submitted)}}</p>
                }
            </div>
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'aluno',submitted)">
                <label for="inputAluno" class="form-label">Aluno</label>
                <ng-select required id="inputAluno" [items]="alunos" bindLabel="nome" bindValue="id"
                    formControlName="aluno">
                </ng-select>
                @if (validacao.inputHasError(notaForm,'aluno',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'aluno',submitted)}}</p>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'materia',submitted)">
                <label for="inputMateria" class="form-label">Materia</label>
                <ng-select required id="inputMateria" [items]="materias" bindLabel="nome" bindValue="id"
                    formControlName="materia">
                </ng-select>
                @if (validacao.inputHasError(notaForm,'materia',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'materia',submitted)}}</p>
                }
            </div>
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'nomeAvaliacao',submitted)">
                <label for="inputDataAvaliacao" class="form-label">Nome da Avaliação</label>
                <input class="form-control" id="inputDataAvaliacao" formControlName="nomeAvaliacao">
                @if (validacao.inputHasError(notaForm,'nomeAvaliacao',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'nomeAvaliacao',submitted)}}</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'dataAvaliacao',submitted)">
                <label for="inputDataAvaliacao" class="form-label">Data da Avaliação (Dia/Mês/Ano)</label>
                <input class="form-control" id="inputDataAvaliacao" formControlName="dataAvaliacao"
                    placeholder="dia/mês/ano">
                @if (validacao.inputHasError(notaForm,'dataAvaliacao',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'dataAvaliacao',submitted)}}</p>
                }
            </div>
            <div class="col-md-6" [ngClass]="validacao.validateInput(notaForm,'nota',submitted)">
                <label for="inputNota" class="form-label">Nota</label>
                <input class="form-control" type="number" id="inputNota" formControlName="nota">
                @if (validacao.inputHasError(notaForm,'nota',submitted)) {
                <p> {{validacao.getInputErrorMessage(notaForm,'nota',submitted)}}</p>
                }
            </div>

        </div>

        <div class="row">
            <div class="col-2 align-self-end">
                <button class="btn btn-dark" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </form>
</div>